$fond-color: black;
$color-font: purple;
$font: 'Caveat', cursive;
$color-dark: black;
$fond-color-hover: white;
$transparent: rgba(0, 0, 0, 0);
$semiBlack: rgba(0, 0, 0, 0.671);
$bgi-fond: '/img/fond.jpg';