<header>
        <h1>CHARAC-LIST</h1>
    
    
        <nav id="menuPopUp" class="hidden">
            <a id="home" href="/" >Accueil</a>
    
            <a id="liste" href="/list-character">Personnages</a>
    
            <a class="btn-burger-deco " href="/deconnexion">Déconnexion</a>
          
            <a id="connexion" href="/authentification">Connexion</a>
           
        </nav>
       
    
        <button class="btnBurger" title="accéder au menu de navigation" aria-label="Accéder au menu de navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
    </header>