<header>
        <h1>CHARAC-LIST</h1>
    
    
        <nav id="menuPopUp">
            <a id="home" href="/" >Accueil</a>
    
            <a id="liste" href="/list-character">Personnages</a>
    
            <button class="btn-burger-deco, hidden">Déconnexion</button>
          
            <a id="connexion" href="/authentification">Connexion</a>
           
        </nav>
       
    
        <button class="btnBurger"  title="accéder au menu de navigation" aria-label="Accéder au menu de navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
    </header>