<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>framework express</title>

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="/css/index.css">
    
</head>
<body id="root">
    <%- include("header") %>

    <%- include(template) %>

    <%- include("footer") %> <%# c'est un chemin relatif pour header et footer%> 
    

   
    <script src="https://kit.fontawesome.com/780e1487a9.js " crossorigin="anonyme"></script>

</body>
</html>