<main>
    <form action="/authentification" method="post" >
        <fieldset>
            <legend>Connectez-vous </legend>
        

            <label for="nom">Votre nom&nbsp;: </label>
            
            <input type="text" id="nom" name="nom" placeholder="Votre nom"/>


            <label for="password">Votre mot-de-passe&nbsp;: </label>

            
            <input type="password" id="password" name="password" placeholder="Votre mot-de-passe" />
            

            
            <input type="submit" value="Se connecter" />
          

            

            <a class="lienInscription" href="/authentification/creation-de-compte">S&apos;inscrire</a>
        </fieldset> 
    </form>
</main>